* {
    color: white;
}
    body {
    background-color: black;
    background-image: url("Other/img-for-main/7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.logo {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    font-family: "Londrina Sketch", sans-serif;
    font-style: normal;
    margin-top: 10px;
    animation: Zoomin 2s infinite;
    margin-left: 20px;
    
}


.logo2 {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    font-family: "Londrina Sketch", sans-serif;
    font-style: normal;
    animation: Zoomin 2s infinite;
    margin-left: 90px;
    
}

.mainnav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}


.logo-container {
    height: 100px;
}

@keyframes Zoomin {
    0% {
        /* font-size: 3rem; */
    }
    50% {
        /* font-size: 3.5rem; */
        text-shadow: 0px 0px 30px red;
        color: red;
    }
    100% {
        /* font-size: 3rem; */
    }
}



.navelement {
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
}

.navelement a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    /* font-style: normal; */
    font-weight: none;
}

.navelement a:hover {
    font-size: 22px;
    text-shadow: 0px 0px 30px red;
    color: red;
    text-decoration: underline;
}

.agentbuttmain {
    margin-top: 20px;
}

.agentbuttmain button{
    margin-top: 10px;
    height: 60px;
    width: 200px;
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(191, 248, 78);
}

.maincontent {
    width: 100%;
    height: auto;
    /* background-color: white; */
    padding-top: 100px;
    text-align: center;
}

.content button {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(2, 32, 75);
    border: none;
    font-size: 1.2rem;
    font-weight: 100;
}

.nameofowner {
    margin-top: 30px;
    font-size: 5.5rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nameofowner p {
    margin: 0px;
    padding: 0px;
    color: rgb(189, 187, 187);
}

.location {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.welcome {
    margin-top: 50px;
}

.welcome button {
    height: 70px;
    width: 300px;
    background-color: orangered;
    color: rgb(190, 255, 59);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 300;
}

.imgofmainthing {
    margin-top: 150px;
    width: 100%;
    height: auto;
}

.imgofmainthing img {
    width: 1200px;
    height: auto;
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: appear;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
}
  
  @keyframes appear {
    from {
        opacity: 0;
      transform: scaleX(0);
    }
  
    to {
        opacity: 1;
      transform: scaleX(1);
    }
  }

.relatedwork {
    margin-top: 100px;
    font-size: 30px;
}



.one11 {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    color: rgb(0, 242, 255);
}

.relatedwork p {
    margin: 0px;
    padding: 0px;
}

.imagecontar {
    height: 130px;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.imagecontar img {
    height: 100px;
}

.travelmain {
    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
}

.travelbutton button {
    height: 50px;
    width: 500px;
    margin-top: 150px;
    background-color: rgb(205, 243, 255);
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
    align-items: center;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
} 

.trainticket h1 {
    color: black;
    font-size: 5rem;
    font-weight: 100;
    margin: 0px;
    margin-top: 30px;
}

.trainticket p {
    color: rgb(80, 79, 79);
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-size: 2rem;
    font-weight: 100;
}

.trainticket button {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    background-color: orangered;
    font-size: 1.3rem;
    border: none;
    text-align: center;
}

.boxmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.box1 {
    height: 670px;
    width: 600px;
    background-color: black;
    margin: 0px;
    border-radius: 10px;
}

.box1 h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.box1 p {
    font-size: 1.3rem;
    padding: 0px;
    padding-left: 40px;
    padding-right: 20px;
}

.box1 img {
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.box2 {
    height: 670px;
    width: 950px;
    background-color: black;
    margin: 0px;
    border-radius: 10px;
}

.box2 h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.box2 p {
    font-size: 1.3rem;
    padding: 0px;
    padding-left: 40px;
    padding-right: 20px;
}

.box2 img {
    width: 800px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
}

.box3 {
    height: 670px;
    width: 950px;
    background-color: black;
    margin: 0px;
    margin-top: 30px;
    border-radius: 10px;
}

.box3 h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.box3 p {
    font-size: 1.3rem;
    padding: 0px;
    padding-left: 40px;
    padding-right: 20px;
}

.box3 img {
    width: 670px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    margin-left: 145px;
}

.box4 {
    height: 670px;
    width: 600px;
    background-color: black;
    margin: 0px;
    margin-top: 30px;
    border-radius: 10px;
}

.box4 h1 {
    margin-left: 40px;
    margin-top: 40px;
}

.box4 p {
    font-size: 1.3rem;
    padding: 0px;
    padding-left: 40px;
    padding-right: 20px;
}

.box4 img {
    width: 500px;
    margin-top: 20px;
    margin-left: 55px;
    margin-top: 100px;
    border-radius: 10px;
}

.whychoise {
    padding-top: 50px;
    height: auto;
    width: 100%;
}

.content1 button {
    height: 60px;
    width: 400px;
    border-radius: 10px;
    background-color: #e4f4ff;
    border: none;
    font-size: 1.4rem;
    font-weight: 100;
    color: black;
}

.content1 {
    display: flex;
    justify-content: left;
    margin-left: 100px;
    margin-top: 100px;
}

.textcon {
    align-items: left;
    margin-left: 50px;
    color: black;
}

.textcon h1 {
    color: black;
    align-items: start;
    margin: 0px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 4.5rem;

}

.textcon p {
    color:  black;
    align-items: start;
    margin: 0px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: rgb(82, 75, 75);
}

.threecondiyion {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box5 {
    background-color: black;
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.box5 button {
    height: 80px;
    width: 75px;
    border-radius: 20px;
    font-size: 3rem;
    background-color: orangered;
}

.box5 p {
    width: 100%;
}